<h1> <%= @animal.species %> </h1>

<h2> <%= @sighting.date %> </h2>
<h2> <%= @sighting.latitude %> </h2>
<h2> <%= @sighting.longitude %> </h2>

<p> <%= link_to "Return to Animals", animals_path %></p>
